body{
  background-color: #000000 ;
} 
.Postscard {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 120px;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
padding: 20px 40px 20px 40px;
left: 50%;
overflow: hidden;
background-color: #f5f5f5;
box-shadow: rgba(0, 0, 0, 0.12) 0px 54px 55px,
rgba(0, 0, 0, 0.12) 0px -12px 30px, 
rgba(0, 0, 0, 0.12) 0px 4px 6px,
rgba(0, 0, 0, 0.17) 0px 12px 13px, 
rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 10px;
border: 1px solid black; 
font-weight: bold;

&::before {
  content: "";
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background-color: rgba(255, 255, 255, 0.192);
  filter: blur(10px);
  transform : scale(1.1);
  z-index: -1;
}

// Add any other styling you want for the Postscard content
.content {
  color: white;
  text-align: center;
  font-size: 24px;
}
}


.Postslayer {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
  color: #000000;
  
}

fieldset {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
  border: none;
  gap: 1rem;
  font-weight: bold;
}


.Post-btn {
  grid-column: 1 / -1;
  background-color: #000000;
  color: white;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(59, 176, 205);
  }

  &:focus {
    outline: none;
    box-shadow: rgb(59, 176, 205);
  }


&.active {
  border: 2px solid rgb(74, 190, 211);
  padding: 20px;
  border-radius: 4px;
}
}
.legend-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-width 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.legend-button:hover {
  background: #000;
  color: #fff;
}

.legend-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.legend-button.active {
  background-color: black;
  color: white;
}

.legend-button:active {
  background: #333;
  border: none;
}

.legend-button:focus {
  outline: none;
  background: #000;
  color: #fff;
}
legend {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  text-transform : uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 20px;
  text-align: left; // changed to left alignment

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #000000;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: -20px;
    width: 14px;
    height: 14px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 0.8;
    animation: pulse 2s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}




.Post-form {
  display: none;
  margin: 20px 0;
  grid-template-columns: repeat(4, 1fr);
  background-color:rgb(236, 236, 236);
  flex-direction: row;
  gap: 20px;
  border: 1px solid #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  &.active {
    border: 2px solid #000000;
    display: grid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    place-items: center;
  }
}
  
  h2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #000000;

  }.Post-form -group {
    margin-bottom: 1rem;
    }

    .Post-label{
      padding-top: 10px;
    }
.Post-label, .Post-input, .Abstract {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  min-width: 135px;
}

.Post-input,
.Abstract {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    border-color: rgb(74, 190, 211);
    box-shadow: rgb(74, 190, 211);
  }
}

@media (max-width: 1100px) {
  .Postscard{
    margin-top: 160px;
  }
  fieldset{
    width: 700px;
  }}
  @media (max-width: 900px) {
    .Postscard{
      margin-top: 160px;
    }
    fieldset{
      width: auto;
    }
  
}

@media (max-width: 800px) {
  .Postscard{
    margin-top: 195px;
  }
  .Post-form {
    display: none;
    margin: 20px 0;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f9f9f9;
    flex-direction: row;
    gap: 20px;
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    &.active {
      border: 2px solid #000000;
      display: block;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }}
    .Post-label, .Post-input, .Abstract {
      min-width: 400px;
    }
  .Postslayer {
    padding: 10px;
  }

  button {
    margin: 5px;
  }
}
@media (max-width: 565px) {
  .Postscard{
    margin-top: 175px;
  }
  .Post-label, .Post-input, .Abstract {
    min-width: 300px;
  }}
  @media (max-width: 450px) {
    .Postscard{
      margin-top: 165px;
    }
    .Post-label, .Post-input, .Abstract {
      min-width: 200px;
    }}