@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);


  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #000;
  --color-bg-2:#000000;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-used: #FFFFFF;

}
